{% load static wagtailcore_tags menus_tags %}

{% get_menu "main-navigation" as navigation %}

<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="#">
            <span>
              Logo
            </span>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    {% for item in navigation.menu_items.all %}
                    <li class="nav-item">
                        <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }} </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->