{% load static wagtailcore_tags menus_tags %}
{% get_homepage as homepage %}

{% get_menu "main-navigation" as navigation %}

<!-- header section strats -->
<header class="header_section">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
            <a class="navbar-brand" href="{% pageurl homepage %}">
            <span>
              Striborg
            </span>
            </a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class=""> </span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    {% for item in navigation.menu_items.all %}
                        <li class="{% if forloop.first %}nav-item active{% else %} nav-item{% endif %}">
                            <a href="{{ item.link }}" class="nav-link"{% if item.open_in_new_tab %} target="_blank"{% endif %}>{{ item.title }} </a>
                        </li>
                    {% endfor %}
                    <li class="nav-item d-flex">
                        {% if request.user.is_authenticated %}
                            <li class="nav-item">
{#                                <a class="nav-link" href="{% url 'upload_document' %}">Documents</a>#}
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_logout' %}"> <i class="fa fa-user" aria-hidden="true"></i> Logout</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'account_login' %}"> <i class="fa fa-user" aria-hidden="true"></i> Login</a>
                            </li>
                        {% endif %}
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- end header section -->