{% extends "base.html" %}
{% block title %}Documents{% endblock %}
{% block content %}
    <div class="container justify-content-center">
        <h2>Upload Document</h2>
        <form method="post" enctype="multipart/form-data" class="form-signin">
            {% csrf_token %}
            <div class="form-label-group">
                {{ form.document.label_tag }}
                {{ form.document }}
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Upload</button>
        </form>
        <div class="container mt-5">
            {% if documents %}
                <h2>Uploaded Documents</h2>
                <ul>
                    {% for document in documents %}
                        <li>==============
                            https://striborgfinance.info{{ document.document.url }}====


                            <a href="{{ document.document.url }}">{{ document.document.name }}</a>

                            <div id="pdfViewer"></div>


                            <form method="post" action="{% url 'delete_document' document.id %}">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}